.blogHero {
    background-image: url("../assets/blog-image-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    max-height: 300px;
    background-position: center;
}


.blogHeader {
    position: relative;
}

.blogHero p {
    font-family: 'Lora', serif;
    font-size: 8rem;
    font-weight: 700;
    text-transform: uppercase;
    color: $black;
    position: absolute;
    bottom: -40px;
}

.blogMain .wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 12;
    gap: 15px;
}

.aboutSophie,
.recentPosts,
.whyBlog,
.recentComms {
    width: 200px;
    height: 200px;
    background-color: blue;
}