.blogHero {
    background-image: url("../assets/blog-image-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    max-height: 300px;
    background-position: center;
}


.blogHeader {
    position: relative;
}

.blogHero p {
    font-family: 'Lora', serif;
    font-size: 8rem;
    font-weight: 700;
    text-transform: uppercase;
    color: $black;
    position: absolute;
    bottom: -40px;
}

.blogMain {
    background-color: $whiteShade;
    padding: 100px 0 200px 0;
    height: fit-content;
}

.blogMain .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.firstColumn,
.recentPosts,
.whyBlog {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.aboutSophie {
    margin-bottom: 25px;
}

// Fix the other H2s *****************************************
.aboutSophie h2,
.recentPosts h2,
.whyBlog h2 {
    @include robotoFont (2.4rem, $black, 700, 1, 1px);
    text-transform: uppercase;
    margin: 20px 0;
}

.aboutSophie p:last-child,
.recentPosts ul,
.whyBlog p {
    @include robotoFont (2rem, $black, 400, 32px, 0);
}

.aboutSophie,
.recentPosts,
.whyBlog {
    background-color:white;
    height: fit-content;
    padding: 30px;
}

.recentPosts ul {
    padding-left: 20px;
}

.recentPosts li {
    list-style: disc;
    color: $orangeyYellow;
}

.recentPosts a {
    color: $black;
    padding-left: 15px;
}

.whyBlog {
    grid-area: 1 / 2 / 3 / 4;
    border-bottom: 5px solid $orangeyYellow;
}

.date {
    font-style: italic;
    margin-bottom: 20px;
}

.date span,
.commentDate {
    @include robotoFont (2.4rem, $black, 700, 1, 1px);
    color: $darkGreyBlue;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 20px;
}

.whyBlog p {
    margin-bottom: 15px;
}

.recentCommsOne {
    grid-area: 3 / 2 / 4 / 4;
}

.recentCommsTwo {
    grid-area: 4 / 2 / 5 / 4;
}

.recentCommsOne,
.recentCommsTwo {
    width: 100%;
    background-color:white;
    padding: 30px;
    display: flex;
    height: fit-content;
}

.recentCommsOne img,
.recentCommsTwo img {
    width: 75px;
}

.recentCommsOne article,
.recentCommsTwo article {
    padding-left: 20px;
}

.comment {
    @include robotoFont (2rem, $black, 400, 1, 1px);
}

.recentCommsTwo {
    border-bottom: 5px solid $orangeyYellow;
}




@media (max-width: 961px) {
    .firstColumn {
        grid-area: 1 / 1 / 2 / 4;
    }

    .whyBlog {
        grid-area: 2 / 1 / 3 / 4;
    }

    .recentCommsOne {
        grid-area: 3 / 1 / 4 / 4;
    }

    .recentCommsTwo {
        grid-area: 4 / 1 / 5 / 4;
    }

    .aboutSophie {
        display: flex;
    }

    .aboutSophie div:first-child {
        margin-right: 20px;
    }

}
