.contactHero {
    background-image: url("../assets/contact-image-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    max-height: 300px;
    background-position: center;
}

.contactMain {
    background-color: $whiteShade;
    padding: 75px 0 200px 0;
    display: flex;
    justify-content: center;
}

.contactMain .wrapper {
    display: flex;
    justify-content: space-between;
}

.contactHeader {
    position: relative;
}

.contactHero h1 {
    font-family: 'Lora', serif;
    font-size: 8rem;
    font-weight: 700;
    text-transform: uppercase;
    color: $black;
    position: absolute;
    bottom: -93px;
}

.contactInfo {
    width: 40%;
}

.iconsAddress {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 30px;
    margin-right: 50px;
}

.contactInfo ul {
    display: flex;
}

.address {
    display: flex;
    flex-direction: column;
}

.socialMediaIcons i {
    color: $orangeyYellow;
    border-bottom: 3px solid transparent;
}

.socialMediaIcons i:hover,
.socialMediaIcons i:focus {
    color: $rustRed;
    border-bottom: 3px solid $rustRed;

}

.socialMediaIcons li {
    font-size: 2rem;
    margin-right: 25px;
}

.address p:first-child {
    @include robotoFont (2rem, $black, 700, 32px, 0);
    margin: 15px 0;
}

.address p {
    @include robotoFont (2rem, $black, 400, 32px, 0);
    text-transform: capitalize;
    font-style: normal;
}

.address a {
    text-transform: none;
    color: $black;
}

.address a:hover,
.address a:focus {
    border-bottom: 3px solid $rustRed;
}


// @media (max-width: 768px) {
//     .contactHero h1 {
//         font-size: 6rem;
//         bottom: -70px;
//     }

//     .contactMain .wrapper {
//         flex-direction: column;
//         justify-content: space-evenly;
//     }

//     .contactInfo {
//         width: 100%; 
//     }

//     .iconsAddress {
//         margin: 0 0 40px 0;
//     }

//     .contactMain {
//         padding-bottom: 150px;
//         height: 800px;
//     }
// }

// @media (max-width: 480px) {
//     .contactHero h1 {
//         bottom: -108px;
//     }
// }

