.contactHero {
    background-image: url("../assets/contact-image-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    max-height: 300px;
    background-position: center;
}

.contactMain {
    background-color: $whiteShade;
    padding: 75px 0 200px 0;
    display: flex;
    justify-content: center;
}

.contactMain .wrapper {
    display: flex;
    justify-content: space-between;
}

.contactHeader {
    position: relative;
}

.contactHero p {
    font-family: 'Lora', serif;
    font-size: 8rem;
    font-weight: 700;
    text-transform: uppercase;
    color: $black;
    position: absolute;
    bottom: -40px;
}

.contactInfo {
    width: 40%;
}

.iconsAddress {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 30px;
    margin-right: 50px;
}

.contactInfo ul {
    display: flex;
}

.address {
    display: flex;
    flex-direction: column;
}

.socialMediaIcons i {
    color: $orangeyYellow;
}

.socialMediaIcons li {
    font-size: 2rem;
    margin-right: 25px;
}

.address p:first-child {
    @include robotoFont (2rem, $black, 700, 32px, 0);
    margin: 15px 0;
}

.address p {
    @include robotoFont (2rem, $black, 400, 32px, 0);
    text-transform: capitalize;
}




.formSection {
    width: 60%;

}

form {
    max-width: 100%;
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100%;
}

input,
textarea {
    padding: 15px;
    font-style: italic;
}

.name,
.email {
    display: block;
    width: calc(50% - 5px);
    margin-bottom: 15px;
}

.name {
    margin-right: 10px;
}

.message {
    width: 100%;
    height: calc(100%);
    display: block;
    margin-bottom: 15px;
}

button {
    @include robotoFont (2rem, $black, 700, 32px, 0);
    text-transform: uppercase;
    background-color: $accent;
    width: 100%;
}






