// Footer section

footer {
    font-family: 'Lora', serif;
    background-color: black;
    color: white;
    text-align: center;  
    @include robotoFont(1.6rem, $whiteShade);
}

footer a {
    color: $accent;
}

footer a:hover,
footer a:focus {
    color: $whiteShade;
}