// See _nav.scss for menu styles

//  HEADER SECTION
.homepageHeader {
    background-color: $orangeyYellow;
    height: 100vh;
    max-height: 700px;
    // border: 3px solid red;
    display: flex;
    flex-direction: column;
}

.hero {
    // border: 5px dashed yellow;
    display: flex;
    height: 100%;
    justify-content: space-between;
}

.title {
    display: flex;
    justify-content: flex-start;
    // border: 3px solid green;
    flex-basis: 50%; 
    position: relative;
    left: 57px;
}

.title h1 {
    font-family: 'Lora', serif;
    font-size: 12rem;
    color: $black;
    font-weight: 800;
    line-height: 92px;
    letter-spacing: 0;
    text-transform: uppercase;
    position: relative;
    align-self: center;
}

.circleText {
    position: absolute;
    left: -65px;
    top: -80px;
}

.orangesPic {
    // margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    // flex-basis: 30%;
    width: 50%;
    position: relative;
    // border: 3px solid blue;
    flex-shrink: 1;
}

.orangesPic img {
    // box-shadow: 15px 15px white;
    position: absolute;
    // right:15px;
    top: 0;
    min-width: 450px;
}

.overflow {
    // border: 3px dashed pink;
    position: relative;
    width: 90%;
    height: 110%;
    overflow: hidden;
    box-shadow: 15px 15px white;
}

// MAIN SECTIONS

// WHO IS SOPHIE SECTION

.whoIs {
    background-color: $whiteShade;
    padding: 75px 0;
}

.favouriteThings {
    padding: 50px 0;
}

.travelled {
    padding-bottom: 50px;
}

.whoIs h2,
.favouriteThings h2,
.travelled h2,
.journey h2 {
    @include robotoFont (3.2rem, $black, 700, 1, 1px);
    text-transform: uppercase;
}

.whoIs p,
.favouriteThings p,
.travelled p,
.journey p {
    @include robotoFont (2rem, $black, 400, 32px, 0px);
    // width: 90%;
    margin: 20px 0 40px 0;
}

.travelled article {
    text-align: right;
}

.whoIs a,
.favouriteThings a,
.travelled a,
.journey a {
    @include robotoFont (2rem, $black, 700, 32px, 1px);
    background-color: $accent;
    padding: 10px 15px;
    text-transform: uppercase;
}

// SOPHIE'S FAVOURITE THINGS SECTION

.favouriteThings,
.travelled {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // border: 3px solid yellow;
    
}

.brownDogFlexbox,
.favouriteThings article,
.beachChairsFlexbox,
.travelled article {
    flex-basis: 45%;
    // border: 3px solid purple;
    position: relative;
}

.brownDog {
    box-shadow: 15px 15px $rustRed, -113px 15px $rustRed;
    position: absolute;
    top: -215px;

}

.beachChairs {
    box-shadow: 15px 15px $orangeyYellow, 113px 15px $orangeyYellow;
    position: absolute;
    top: -125px;
}


.iconSection {
    background: $whiteShade;
    padding: 100px 0;
}

.iconSection ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.iconSection li {
    flex-basis: 45%;  
    margin-bottom: 50px;

}

.iconSection i {
    font-size: 2rem;
    background-color: $orangeyYellow;
    padding: 10px;
    border-radius: 50%;
    position: absolute;
    left: -50px;
}

.iconSection a {
    @include robotoFont (3.2rem, $black, 700, 1, 1px);
    text-transform: uppercase;
    position: relative;
}

.iconSection p {
    @include robotoFont (2rem, $black, 400, 32px, 0px);
    padding-top: 15px;
}


.journey {
    background-color: $whiteShade;
}

.journey > div {
    display: flex;
    padding: 100px 0;
    justify-content: space-between;
}

.edgeOfBuilding {
    flex-basis: 25%;

}

.edgeOfBuilding img {
    box-shadow: 15px 15px $orangeyYellow;
}

.journey article {
    flex-basis: 65%;
}


.gallery {
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
}

.gallery div {
    flex-basis: 32%;
}










