// See _nav.scss for menu styles

//  HEADER SECTION
.homepageHeader {
    background-color: $orangeyYellow;
    height: 100vh;
    max-height: 700px;
    display: flex;
    flex-direction: column;
}

.hero {
    // border: 5px dashed yellow;
    display: flex;
    height: 100%;
    justify-content: space-between;
}

.title {
    display: flex;
    justify-content: flex-start;
    // border: 3px solid green;
    position: relative;
    left: 57px;
    z-index: 10;
}

.title h1 {
    font-family: 'Lora', serif;
    font-size: 12rem;
    color: $black;
    font-weight: 800;
    line-height: 92px;
    letter-spacing: 0;
    text-transform: uppercase;
    position: absolute;
    align-self: center;
}

.circleText {
    position: absolute;
    left: -60px;
    top: -80px;
}

.orangesPic {
    display: flex;
    justify-content: flex-end;
    flex-basis: 50%;
    position: relative;
    // border: 3px solid blue;
    min-width: 565px;
}

.orangesPic img {
    // position: absolute;
    top: 0;
    min-width: 465px;
    min-height: 655px;
}

.overflow {
    // border: 3px dashed pink;
    position: absolute;
    width: 90%;
    height: 110%;
    overflow: hidden;
    box-shadow: 15px 15px white;
    // min-width: 497px;
    // max-height: 655px;
}

// MAIN SECTIONS

// WHO IS SOPHIE SECTION

.whoIs {
    background-color: $whiteShade;
    padding: 75px 0;
}

.favouriteThings {
    padding: 50px 0;
}

.travelled {
    padding-bottom: 50px;
}

.whoIs h2,
.favouriteThings h2,
.travelled h2,
.journey h2 {
    @include robotoFont (3.2rem, $black, 700, 1, 1px);
    text-transform: uppercase;
}

.whoIs p,
.favouriteThings p,
.travelled p,
.journey p {
    @include robotoFont (2rem, $black, 400, 32px, 0px);
    // width: 90%;
    margin: 20px 0 40px 0;
}

.travelled article {
    text-align: right;
}

.whoIs a,
.favouriteThings a,
.travelled a,
.journey a {
    @include robotoFont (2rem, $black, 700, 32px, 1px);
    background-color: $accent;
    padding: 10px 15px;
    text-transform: uppercase;
}

.whoIs a:hover,
.favouriteThings a:hover,
.travelled a:hover,
.journey a:hover,
.whoIs a:focus,
.favouriteThings a:focus,
.travelled a:focus,
.journey a:focus {
    color: $whiteShade;
}

// SOPHIE'S FAVOURITE THINGS SECTION

.favouriteThings,
.travelled {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // border: 3px solid yellow;
    
}

.brownDogFlexbox,
.favouriteThings article,
.beachChairsFlexbox,
.travelled article {
    flex-basis: 45%;
    // border: 3px solid purple;
    position: relative;
}

.brownDog {
    box-shadow: 15px 15px $rustRed, -113px 15px $rustRed;
    position: absolute;
    top: -215px;

}

.beachChairs {
    box-shadow: 15px 15px $orangeyYellow, 113px 15px $orangeyYellow;
    position: absolute;
    top: -125px;
}


.iconSection {
    background: $whiteShade;
    padding: 100px 0 50px 0;
}

.iconSection ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 50px;
}

.iconSection li {
    flex-basis: 45%;  
    margin-bottom: 50px;
    margin-right: 40px;

}

.iconSection i {
    font-size: 2rem;
    background-color: $orangeyYellow;
    padding: 10px;
    border-radius: 50%;
    position: absolute;
    left: -50px;
}

.iconSection a {
    @include robotoFont (3.2rem, $black, 700, 1, 1px);
    text-transform: uppercase;
    position: relative;
}

.iconSection a:hover,
.iconSection a:focus {
    color: $orangeyYellow;
    border-bottom: 3px solid $rustRed;
}

.iconSection a:hover i,
.iconSection a:focus {
    color: $black;
}

.iconSection p {
    @include robotoFont (2rem, $black, 400, 32px, 0px);
    padding-top: 15px;
}


.journey {
    background-color: $whiteShade;
}

.journey .wrapper {
    display: flex;
    padding: 100px 0;
    justify-content: space-between;
}

.edgeOfBuilding {
    flex-basis: 25%;

}

.edgeOfBuilding img {
    box-shadow: 15px 15px $orangeyYellow;
}

.journey article {
    flex-basis: 65%;
}


.gallery {
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
}

.gallery div {
    flex-basis: 32%;
}

@media (max-width: 1160px) {
    
    // .hero {
    //     background-image: url("../assets/home-image-1.jpg");
    //     background-repeat: no-repeat;
    //     background-position: right;
    // }


    // .overflow {
    //     min-width: 513px;
.overflow {
    // opacity: 0.5;
    height: calc(95%);
    // background: linear-gradient(to right, $orangeyYellow, rgba(246, 168, 35, 0));
}

.overflow::after {
    content: '';
    background: linear-gradient(to right, $orangeyYellow, rgba(246, 168, 35, 0));
    width: 509px;
    height: 712px;
    position: absolute;
    top: 0;
    right: 0

}


.favouriteThings,
.travelled {
    flex-wrap: wrap;
} 

.brownDogFlexbox,
.beachChairsFlexbox {
    min-width: 400px;
    height: 185px;
    flex-basis: 100%;
}

.brownDog {
    top: -80px;
    left: 0;
    box-shadow: 700px 15px $rustRed, 300px 15px $rustRed, 15px 15px $rustRed;
    max-width: 400px;
    
}

.favouriteThings article,
.travelled article {
    flex-basis: 100%;
}

.favouriteThings article {
    padding: 40px 0;
    margin-bottom: 75px;
}



.beachChairsFlexbox {
    order: -1;
}

.beachChairs {
    max-width: 400px;
    right: 0;
    box-shadow: -630px 15px $orangeyYellow,
    -350px 15px $orangeyYellow,
    15px 15px $orangeyYellow;
}

.iconSection ul {
    flex-wrap: wrap;
    justify-content: center;
    // text-align: center;
    margin: 0 auto;
}

.iconSection li {
    min-width: 300px;
}

}  


// @media (max-width: 961px) {
//     .iconSection li {
//         flex-basis: 80%;
//     }
// }


// @media (max-width: 768px) {
//     .journey .wrapper {
//         flex-direction: column;
//         padding: 75px 0 50px 0;
//     }

//     .edgeOfBuilding {
//         width: 170px;
//         box-shadow: 150px 15px $orangeyYellow,
//         315px 15px $orangeyYellow,
//         450px 15px $orangeyYellow, 600px 15px $orangeyYellow;
//     }

//     .journey article {
//         padding-top: 50px;
//     }
// }

// @media (max-width: 580px) {
//     .title h1 {
//         font-size: 10rem;
//     }
// }



// @media (max-width: 480px) {
//     .title h1 {
//         font-size: 8rem;
//     }

//     .overflow {
//         right: 100px;
//         opacity: 0.5;
//     }

//     .overflow::after {
//         display: none;
//     }
    
//     .gallery {
//         flex-direction: column;
//         padding: 50px 0;
//     }

//     .gallery div {
//         margin: 10px 0;
//     }
// }









