// Horizontal navigation menu

.horizNav {
    padding: 30px 0;
    background-color: $orangeyYellow;
}

.horizNav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.horizNav li {
    margin: 0 30px;
    
}

.horizNav a {
    text-decoration: none;
    @include robotoFont(2rem, $black, 700, 29px, 1px);
}

.horizNav a:hover,
.horizNav a:focus {
    color: $whiteShade;
    border-bottom: 3px solid $rustRed;
}

.horizNav span {
    font-family: 'Lora', serif;
    font-size: 4rem;
    color: $black;
}

.hamburgerMenu {
    display: none;
}

