.horizNav {
    padding: 30px 0;
    background-color: $orangeyYellow;
}

.horizNav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.horizNav li {
    margin: 0 30px;
    
}

.horizNav a {
    text-decoration: none;
    @include robotoFont(2rem, $black, 700, 29px, 1px);
}

.horizNav a:hover,
.horizNav a:focus {
    color: $whiteShade;
    border-bottom: 3px solid $rustRed;
}

.horizNav span {
    font-family: 'Lora', serif;
    font-size: 4rem;
    color: $black;
}

.hamburgerMenu {
    display: none;
}

// @media (max-width:768px) {
//     .horizNav li {
//         margin: 0 20px;
//     }
    
// }


// @media (max-width:650px) {
//     .horizNav {
//         display: none;
//     }


//     /* Display hamburger menu */
//     .hamburgerMenu {
//         display: block;
//         padding: 30px 0 31px 0;
//         background-color: $orangeyYellow;
//         z-index: 20;
//     }

//     /* Set toggle for hamburger menu */
//     .menuToggle {
//         display: block;
//         position: relative;
//         left: 75%;
//         top: 0;
//     }

//     .menuToggle input {
//         display: block;
//         width: 60px;
//         height: 50px;
//         position: absolute;
//         top: 0;
//         left: 0;
//         cursor: pointer;
//         opacity: 0;
//         z-index: 2;
//     }

//     .menuToggle ul {
//         background-color: $orangeyYellow;
//         border-bottom: 7px solid $whiteShade;
//         width: 160px;
//         padding-bottom: 10px;
//     }

//     /* Style spans to make hamburger menu icon*/
//     .topBun,
//     .meat,
//     .bottomBun {
//         display: block;
//         width: 60px;
//         height: 10px;
//         margin-bottom: 5px;
//         position: relative;
//         background-color: $whiteShade;
//     }

//     /* Animate top and bottom lines of hamburger menu to expand when selected */
//     .topBun {
//         transition: transform 0.5s ease;
//     }

//     .bottomBun {
//         transition: transform 0.5s ease;
//     }

//     .menuToggle input:checked ~ .topBun {
//         transform: translate(0, -4px);
//     }

//     .menuToggle input:checked ~ .bottomBun {
//         transform: translate(0, 4px);
//     }

//     /* Make menu links slide in from the right and have transparency fade in/out */
//     .hamburgerMenu ul {
//         position: absolute;
//         opacity: 0;
//         transition: transform 0.8s ease,
//         opacity 0.8s ease;
//         transform: translateX(100%);
//         transform-origin: top left;
//     }

//     .menuToggle input:checked ~ ul {
//     transform: none;
//     opacity: 1;
//     }

//     .menuToggle input ~ ul {
//         opacity: 0;
//     }

//     /* Style hamburger menu links */
//     .hamburgerMenu a {
//         @include robotoFont(2rem, $black, 700);
//         text-transform: uppercase;
//     }

//     .hamburgerMenu a:hover,
//     .hamburgerMenu a:focus {
//         color: $whiteShade;
//         border-bottom: 3px solid $rustRed;
//     }

//     .hamburgerMenu li {
//         margin-top: 15px;
//     }

//     .hamburgerMenu .home,
//     .hamburgerMenu .about,
//     .hamburgerMenu .blog,
//     .hamburgerMenu .contact {
//         padding-left: 5px;
//     }

// }