// Make font size 10px 
html {
    font-size: 62.5%;
}

// Set fonts and and default font size 
body {
    font-family: 'Lora', serif;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
}

// Mixin for Roboto font
@mixin robotoFont ($fontSize:1.6rem, $fontColour:$black, $weight:400, $lineHeight:32px, $letterSpacing:0) {
    font-family: 'Roboto', sans-serif;
    font-size: $fontSize;
    color: $fontColour;
    font-weight: $weight;
    line-height: $lineHeight;
    letter-spacing: $letterSpacing;
}





