html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Lora', serif;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
}

.horizNav {
  padding: 30px 0;
  background-color: #F6A823;
}

.horizNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

.horizNav li {
  margin: 0 30px;
}

.horizNav a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  color: #2C2C2C;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 1px;
}

.horizNav span {
  font-family: 'Lora', serif;
  font-size: 4rem;
  color: #2C2C2C;
}

.hamburgerMenu {
  display: none;
}

@media (max-width: 768px) {
  .horizNav li {
    margin: 0 20px;
  }
}

@media (max-width: 650px) {
  .horizNav {
    display: none;
  }
  /* Display hamburger menu */
  .hamburgerMenu {
    display: block;
    padding: 30px 0 31px 0;
    background-color: #F6A823;
    z-index: 20;
  }
  /* Set toggle for hamburger menu */
  .menuToggle {
    display: block;
    position: relative;
    left: 75%;
    top: 0;
  }
  .menuToggle input {
    display: block;
    width: 60px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }
  .menuToggle ul {
    background-color: #F6A823;
    border-bottom: 7px solid #F0EFED;
    width: 160px;
    padding-bottom: 10px;
  }
  /* Style spans to make hamburger menu icon*/
  .topBun,
  .meat,
  .bottomBun {
    display: block;
    width: 60px;
    height: 10px;
    margin-bottom: 5px;
    position: relative;
    background-color: #F0EFED;
  }
  /* Animate top and bottom lines of hamburger menu to expand when selected */
  .topBun {
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  }
  .bottomBun {
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  }
  .menuToggle input:checked ~ .topBun {
    -webkit-transform: translate(0, -4px);
            transform: translate(0, -4px);
  }
  .menuToggle input:checked ~ .bottomBun {
    -webkit-transform: translate(0, 4px);
            transform: translate(0, 4px);
  }
  /* Make menu links slide in from the right and have transparency fade in/out */
  .hamburgerMenu ul {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.8s ease, -webkit-transform 0.8s ease;
    transition: opacity 0.8s ease, -webkit-transform 0.8s ease;
    transition: transform 0.8s ease, opacity 0.8s ease;
    transition: transform 0.8s ease, opacity 0.8s ease, -webkit-transform 0.8s ease;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transform-origin: top left;
            transform-origin: top left;
  }
  .menuToggle input:checked ~ ul {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
  .menuToggle input ~ ul {
    opacity: 0;
  }
  /* Style hamburger menu links */
  .hamburgerMenu a {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    color: #2C2C2C;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0;
    text-transform: uppercase;
  }
  .hamburgerMenu li {
    margin-top: 15px;
  }
  .hamburgerMenu .home,
  .hamburgerMenu .about,
  .hamburgerMenu .blog,
  .hamburgerMenu .contact {
    padding-left: 5px;
  }
}

.homepageHeader {
  background-color: #F6A823;
  height: 100vh;
  max-height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  left: 57px;
  z-index: 10;
}

.title h1 {
  font-family: 'Lora', serif;
  font-size: 12rem;
  color: #2C2C2C;
  font-weight: 800;
  line-height: 92px;
  letter-spacing: 0;
  text-transform: uppercase;
  position: absolute;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.circleText {
  position: absolute;
  left: -60px;
  top: -80px;
}

.orangesPic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  position: relative;
  min-width: 565px;
}

.orangesPic img {
  top: 0;
  min-width: 465px;
  min-height: 655px;
}

.overflow {
  position: absolute;
  width: 90%;
  height: 110%;
  overflow: hidden;
  -webkit-box-shadow: 15px 15px white;
          box-shadow: 15px 15px white;
}

.whoIs {
  background-color: #F0EFED;
  padding: 75px 0;
}

.favouriteThings {
  padding: 50px 0;
}

.travelled {
  padding-bottom: 50px;
}

.whoIs h2,
.favouriteThings h2,
.travelled h2,
.journey h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 3.2rem;
  color: #2C2C2C;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.whoIs p,
.favouriteThings p,
.travelled p,
.journey p {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  color: #2C2C2C;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  margin: 20px 0 40px 0;
}

.travelled article {
  text-align: right;
}

.whoIs a,
.favouriteThings a,
.travelled a,
.journey a {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  color: #2C2C2C;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 1px;
  background-color: #05AFC1;
  padding: 10px 15px;
  text-transform: uppercase;
}

.favouriteThings,
.travelled {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brownDogFlexbox,
.favouriteThings article,
.beachChairsFlexbox,
.travelled article {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  position: relative;
}

.brownDog {
  -webkit-box-shadow: 15px 15px #A82706, -113px 15px #A82706;
          box-shadow: 15px 15px #A82706, -113px 15px #A82706;
  position: absolute;
  top: -215px;
}

.beachChairs {
  -webkit-box-shadow: 15px 15px #F6A823, 113px 15px #F6A823;
          box-shadow: 15px 15px #F6A823, 113px 15px #F6A823;
  position: absolute;
  top: -125px;
}

.iconSection {
  background: #F0EFED;
  padding: 100px 0 50px 0;
}

.iconSection ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 50px;
}

.iconSection li {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  margin-bottom: 50px;
  margin-right: 40px;
}

.iconSection i {
  font-size: 2rem;
  background-color: #F6A823;
  padding: 10px;
  border-radius: 50%;
  position: absolute;
  left: -50px;
}

.iconSection a {
  font-family: 'Roboto', sans-serif;
  font-size: 3.2rem;
  color: #2C2C2C;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
}

.iconSection p {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  color: #2C2C2C;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  padding-top: 15px;
}

.journey {
  background-color: #F0EFED;
}

.journey .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.edgeOfBuilding {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.edgeOfBuilding img {
  -webkit-box-shadow: 15px 15px #F6A823;
          box-shadow: 15px 15px #F6A823;
}

.journey article {
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 100px 0;
}

.gallery div {
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
}

@media (max-width: 1160px) {
  .overflow {
    height: calc(95%);
  }
  .overflow::after {
    content: '';
    background: -webkit-gradient(linear, left top, right top, from(#F6A823), to(rgba(246, 168, 35, 0)));
    background: linear-gradient(to right, #F6A823, rgba(246, 168, 35, 0));
    width: 509px;
    height: 712px;
    position: absolute;
    top: 0;
    right: 0;
  }
  .favouriteThings,
  .travelled {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .brownDogFlexbox,
  .beachChairsFlexbox {
    min-width: 400px;
    height: 185px;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .brownDog {
    top: -80px;
    left: 0;
    -webkit-box-shadow: 700px 15px #A82706, 300px 15px #A82706, 15px 15px #A82706;
            box-shadow: 700px 15px #A82706, 300px 15px #A82706, 15px 15px #A82706;
    max-width: 400px;
  }
  .favouriteThings article,
  .travelled article {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .favouriteThings article {
    padding: 40px 0;
    margin-bottom: 75px;
  }
  .beachChairsFlexbox {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .beachChairs {
    max-width: 400px;
    right: 0;
    -webkit-box-shadow: -630px 15px #F6A823, -350px 15px #F6A823, 15px 15px #F6A823;
            box-shadow: -630px 15px #F6A823, -350px 15px #F6A823, 15px 15px #F6A823;
  }
  .iconSection ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
  }
  .iconSection li {
    min-width: 300px;
  }
}

@media (max-width: 961px) {
  .iconSection li {
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
  }
}

@media (max-width: 768px) {
  .journey .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 75px 0 50px 0;
  }
  .edgeOfBuilding {
    width: 170px;
    -webkit-box-shadow: 150px 15px #F6A823, 315px 15px #F6A823, 450px 15px #F6A823, 600px 15px #F6A823;
            box-shadow: 150px 15px #F6A823, 315px 15px #F6A823, 450px 15px #F6A823, 600px 15px #F6A823;
  }
  .journey article {
    padding-top: 50px;
  }
}

@media (max-width: 580px) {
  .title h1 {
    font-size: 10rem;
  }
}

@media (max-width: 480px) {
  .title h1 {
    font-size: 8rem;
  }
  .overflow {
    right: 100px;
    opacity: 0.5;
  }
  .overflow::after {
    display: none;
  }
  .gallery {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 50px 0;
  }
  .gallery div {
    margin: 10px 0;
  }
}

.contactHero {
  background-image: url("../assets/contact-image-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  max-height: 300px;
  background-position: center;
}

.contactMain {
  background-color: #F0EFED;
  padding: 75px 0 200px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contactMain .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contactHeader {
  position: relative;
}

.contactHero h1 {
  font-family: 'Lora', serif;
  font-size: 8rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #2C2C2C;
  position: absolute;
  bottom: -93px;
}

.contactInfo {
  width: 40%;
}

.iconsAddress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  padding: 30px;
  margin-right: 50px;
}

.contactInfo ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.socialMediaIcons i {
  color: #F6A823;
}

.socialMediaIcons li {
  font-size: 2rem;
  margin-right: 25px;
}

.address p:first-child {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  color: #2C2C2C;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0;
  margin: 15px 0;
}

.address p {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  color: #2C2C2C;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0;
  text-transform: capitalize;
  font-style: normal;
}

@media (max-width: 768px) {
  .contactHero h1 {
    font-size: 6rem;
    bottom: -70px;
  }
  .contactMain .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .contactInfo {
    width: 100%;
  }
  .iconsAddress {
    margin: 0 0 40px 0;
  }
  .contactMain {
    padding-bottom: 150px;
    height: 800px;
  }
}

@media (max-width: 480px) {
  .contactHero h1 {
    bottom: -108px;
  }
}

.blogHero {
  background-image: url("../assets/blog-image-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  max-height: 300px;
  background-position: center;
}

.blogHeader {
  position: relative;
}

.blogHero p {
  font-family: 'Lora', serif;
  font-size: 8rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #2C2C2C;
  position: absolute;
  bottom: -40px;
}

.blogMain {
  background-color: #F0EFED;
  padding: 100px 0 200px 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.blogMain .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.firstColumn,
.recentPosts,
.whyBlog {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.aboutSophie {
  margin-bottom: 25px;
}

.aboutSophie h2,
.recentPosts h2,
.whyBlog h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.4rem;
  color: #2C2C2C;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 20px 0;
}

.aboutSophie p:last-child,
.recentPosts ul,
.whyBlog p {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  color: #2C2C2C;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0;
}

.aboutSophie,
.recentPosts,
.whyBlog {
  background-color: white;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 30px;
}

.recentPosts ul {
  padding-left: 20px;
}

.recentPosts li {
  list-style: disc;
  color: #F6A823;
}

.recentPosts a {
  color: #2C2C2C;
  padding-left: 15px;
}

.whyBlog {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: 1 / 2 / 3 / 4;
  border-bottom: 5px solid #F6A823;
}

.date {
  font-style: italic;
  margin-bottom: 20px;
}

.date span,
.commentDate {
  font-family: 'Roboto', sans-serif;
  font-size: 2.4rem;
  color: #2C2C2C;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1px;
  color: #285E64;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 20px;
}

.whyBlog p {
  margin-bottom: 15px;
}

.recentCommsOne {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: 3 / 2 / 4 / 4;
}

.recentCommsTwo {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: 4 / 2 / 5 / 4;
}

.recentCommsOne,
.recentCommsTwo {
  width: 100%;
  background-color: white;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.recentCommsOne img,
.recentCommsTwo img {
  width: 75px;
}

.recentCommsOne article,
.recentCommsTwo article {
  padding-left: 20px;
}

.comment {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  color: #2C2C2C;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 1px;
}

.recentCommsTwo {
  border-bottom: 5px solid #F6A823;
}

.formSection {
  width: 60%;
}

.wrapper .formSection {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: 5 / 2 / 6 / 4;
  width: 100%;
}

form {
  max-width: 100%;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
}

input,
textarea {
  padding: 15px;
  font-style: italic;
}

.name,
.email {
  display: block;
  width: calc(50% - 5px);
  margin-bottom: 15px;
}

.name {
  margin-right: 10px;
}

.message {
  width: 100%;
  height: calc(100%);
  display: block;
  margin-bottom: 15px;
}

button {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  color: #2C2C2C;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0;
  text-transform: uppercase;
  background-color: #05AFC1;
  width: 100%;
}

footer {
  font-family: 'Lora', serif;
  background-color: black;
  color: white;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  color: #F0EFED;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0;
}

footer a {
  color: #05AFC1;
}

* {
  padding: 0;
  margin: 0;
  border: none;
  text-decoration: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

html {
  overflow-x: hidden;
}

body {
  font-family: 'Catamaran', sans-serif;
  font-family: 'Nova Flat', cursive;
  font-size: 1.6rem;
  max-width: 1366px;
  margin: 0 auto;
}

.wrapper {
  width: 1140px;
  max-width: 90%;
  margin: 0 auto;
}
